<form action="/auth" method="post">

    <input type="text" id="username" placeholder="Digite seu usuário">
    <input type="password" id="password" placeholder="Digite sua senha.">
    <input type="submit" value="Realizar Login">
    <input type="button" onclick="location.href='./register'" value="Realizar Login">

</form>